<div class="container session">
  <h2>管理者 Log in</h2>

  <%= form_for(resource, as: resource_name, url: user_session_path) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"admin-form" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off", class:"admin-form" %>
    </div>

    <div class="actions btn">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
</div>

<%= render "users/shared/links" %>
