<!DOCTYPE html>
<html>
  <head>
    <title>Yaritaikoto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    
  </head>
  <body>
<%= render 'layouts/notifications' %>

    <header>
      <nav class="navbar">
        <a href="/pages" class="navbar-brand top">アフターコロナでやりたいこと</a>
        <%= form_with(url: pages_searches_path, local: true, method: :get, class: "form-inline") do |form| %>
          <%= form.text_field :keyword, placeholder: "やりたいことを検索", class: "form-control mr-sm-2 search-input" %>
          <%# <%= form.submit "検索", class: "btn btn-outline-light my-2 my-sm-0" %>
        <%= link_to pages_searches_path, class: "navbar__sh" do %>
          <i class="fas fa-search"></i>
        <% end %>
        <% end %>
      </nav>
    </header>

    <main>
     <%= yield %>
    </main>


    <footer class="footer">
      <div class="container">
        <%= link_to new_user_session_path, class:"sign" do %>
          <i class="fas fa-sign-in-alt"></i>
        <% end %>
        Copyright © Yaritaikoto 2020
        <%= link_to destroy_user_session_path, method: :delete, class:"sign" do %>
          <i class="fas fa-sign-out-alt"></i>
        <% end %>
      </div>
    </footer>

  </body>
</html>
