<!DOCTYPE html>
<html>
  <head>
    <title>Yaritaikoto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/e9b41901ca.js" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    
  </head>
  <body>
    <%= render 'layouts/notifications' %>
    <header>
          <nav class="navbar">
                <a href="/pages" class="top">#PostYourWishes</a>
                <%= form_with(url: pages_searches_path, local: true, method: :get, class: "form-inline") do |form| %>
                  <%= form.text_field :keyword, placeholder: "検索", class: "form-control mr-sm-2 search-input" %>
                  <%= link_to pages_searches_path, class: "navbar__sh" do %>
                    <i class="fas fa-search"></i>
                  <% end %>
                <% end %>
          </nav>

    </header>

    <main>
     <%= yield %>
     <%# <p id="page-top"><a href="#wrap">TOP</a></p> %>
    </main>


    <footer class="footer">
      <div class="container">
        <%= link_to new_user_session_path, class:"sign" do %>
          <i class="fas fa-sign-in-alt"></i>
        <% end %>
        Copyright © #PostYourWishes 2020
        <%= link_to destroy_user_session_path, method: :delete, class:"sign" do %>
          <i class="fas fa-sign-out-alt"></i>
        <% end %>
      </div>
    </footer>

  </body>
</html>
